name: Tofu Plan
on:
  pull_request:
    branches: ["main"]
    paths: ["td5/scripts/tofu/live/lambda-sample/**"]

permissions:
  pull-requests: write
  id-token: write
  contents: read

jobs:
  plan:
    name: "Tofu Plan"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.PLAN_ROLE_ARN }}
          aws-region: us-east-2
          role-session-name: plan-${{ github.run_number }}-${{ github.actor }}

      - uses: opentofu/setup-opentofu@v1

      - name: Tofu Plan
        id: plan
        working-directory: td5/scripts/tofu/live/lambda-sample
        run: |
          tofu init -no-color -input=false
          tofu plan -no-color -input=false -lock=false

      - name: Comment PR
        uses: peter-evans/create-or-update-comment@v4
        if: always()
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## ${{ steps.plan.outcome == 'success' && '✅' || '⚠️' }} `tofu plan` output
            ```
            ${{ steps.plan.outputs.stdout }}
            ```